JWT_SECRET=GERE_UMA_STRING_ALEATORIA_LONGA
MAIL_TO=email_da_isa@email.com
MAIL_FROM=seu_email_remetente@gmail.com
MAIL_HOST=smtp.gmail.com
MAIL_USERNAME=seu_email@gmail.com
MAIL_PASSWORD=sua_app_password_do_gmail